body,html{
    height:100%;
}

#view {
    height:100%;
    max-height:100%;
    min-height:600px;
}
.row {
    height:100%;
    max-height:100%;
    min-height:600px;
}

.panel{
    height:100%;
    max-height:100%;
    min-height:600px;
}

.footer{
    position:fixed;
    bottom:0px;
    left:0px;
    padding:10px;
    background:#ffffff;

}

.mention{
    background:#d3d3d3;
}

.thumb {
    max-height:120px;
    max-width:120px;
    vertical-align:top;
    border:0px;
}
.info{
    color:grey;
    font-style:italic;
}
.hint {
    font-size:0.8em;
    color:grey;
    margin:2px;
}
.tell {
    background:#fb9999;
    color:white;
}
.tell a{
    color:white;
}
.tell a:hover{
    color:lightblue;
}

.emote {
    font-style:italic;
    color:grey;
}