
<div id="testResultPanel" style="height:100%; width:100%; margin-bottom:80px; margin-right:200px; padding-right:200px; margin-top:60px; vertical-align:bottom;"></div>
<div id="UsersView" class="pull-right"></div>


        <div class="footer">
            <div class="btn-group btn-group-xs">
                <button type="button" class="btn btn-default btn-xs" id="bold"><span class="glyphicon glyphicon-bold"></span></button>
                <button type="button" class="btn btn-default btn-xs" id="italic"><span class="glyphicon glyphicon-italic"></span></button>
                <button type="button" class="btn btn-default btn-xs" id="underline"><span class="glyphicon glyphicon-text-width"></span></button>
            </div>
            <span class="hint">BBCode supported: [b] [i] [u] [color={color}] | urls and images will parse automatically</span>
            <div class="input-group">
                <input type="text" class="form-control" id="chatLine" placeholder="enter your message or command here">
              <span class="input-group-btn">
                 <button type="button" id="submit" class="btn btn-default">Submit</button>
              </span>
            </div>
        </div>



